@import "styles/color.scss";
@import "styles/media.scss";

.root {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 800px;
  background: url(../../../../../public/img/jpg/BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: radial-gradient(100% 99.96% at 100% 99.96%, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.8) 100%);
  }
}

.info {
  position: absolute;
  top: 30%;
  left: auto;
}

.title {
  width: 90%;
  margin: 0 5%;

  color: $white;
  text-align: center;
}

.description {
  width: 90%;
  margin: 12% auto;

  color: $white;
  text-align: center;
  @include media(sm) {
    margin: 20% auto;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
