
$gray: #a0a0a0;
$white: #ffffff;
$black: #010101;

$whiteText: #e1e1e7;
$grayText: #b3b8cc ;
$redText: #fb5c56;
$whitButton: #fafaff;
$blackButton: #131317;

$greenPoint: #3bb33a;
$grayPoint: #777777;


$errorRed: #fb5c56;