@import "styles/color";
@import "styles/media";

.root {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  // transform: scale(0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;

  background-color: rgba(0, 0, 0, 0.6);
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.content {
  z-index: 1;
  position: relative;
  padding: 3px;

  // width: 1000px;
  // height: 500px;
  border-radius: 20px;
  background: $black;
  transform: scale(0);
  background: linear-gradient(to right, #4167f9, #fd5a55);

  transition:  300ms ease;

  @include media(sm) {
    padding: 3px;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: -4px;
  //   left: -4px;
  //   z-index: -1;

  //   width: calc(100% + 8px);
  //   height: calc(100% + 70px);

  //   background: linear-gradient(to right, #4167f9, #fd5a55);
  //   border-radius: 20px;

  //   // transform: scale(0);
    
  // }

  &.active {
    transform: scale(1);
  
  }
}
